.lsp-type-modifier {
    color: #8e6a02;
}

.lsp-type-comment {
    color: #55575c;
}

.lsp-type-class {
    color: #2e7a81;
}

.lsp-type-class.lsp-modifier-defaultLibrary {
    color: #8541ff;
}

.lsp-type-enumMember {
    color: #217b83;
}

.lsp-type-enumMember.lsp-modifier-defaultLibrary {
    color: #8d4fd4;
}

.lsp-type-function,
.lsp-type-method,
.lsp-type-property,
.lsp-type-function.lsp-modifier-classScope {
    color: #217b83;
}

.lsp-type-function.lsp-modifier-defaultLibrary,
.lsp-type-method.lsp-modifier-defaultLibrary,
.lsp-type-property.lsp-modifier-defaultLibrary,
.lsp-type-function.lsp-modifier-classScope.lsp-modifier-defaultLibrary {
    color: #8d4fd4;
}

.lsp-type-macro {
    color: #a45d33;
}

.lsp-type-macro.lsp-modifier-defaultLibrary {
    color: #a45d33;
}

.lsp-type-type {
    color: #2e7a81;
}

.lsp-type-type.lsp-modifier-defaultLibrary {
    color: #8541ff;
}

.lsp-type-variable.lsp-modifier-globalScope {
    color: #217b83;
}

.lsp-type-variable.lsp-modifier-globalScope.lsp-modifier-defaultLibrary {
    color: #8d4fd4;
}

.lsp-type-keyword {
    color: #c900ba;
}

.lsp-type-number {
    color: #6752fd;
}

.lsp-type-preprocessor {
    color: #a45d33;
}

.lsp-type-string {
    color: #bf050a;
}
